.btn {
  color: #f4f4f4;
  text-decoration: none;

  transition: all 0.3s ease;

  border-radius: 50px;
  border: 1px solid #333;
  background-color: #333;
  padding: 1rem 2rem;

  &:hover {
    transform: translate(0, -5px);

    background: linear-gradient(
      90deg,
      rgba(166, 0, 255, 1) 0%,
      rgba(255, 102, 0, 1) 100%
    );

    border: none;
  }

  &:active {
    transform: translate(0, 0);
  }
}

.btnLarge {
  font-size: 2rem;
}
